:root {
    --border: 1px solid #f0f0f0;
    --p-sm: 8px;
    --p-md: 16px;
    --p-lg: 32px;
}

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    min-width: 600px;
}

table {
    border: var(--border);
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

table button {
    width: 100%;
    height: 100%;
    column-span: 100%;
}

tr:hover {
    filter: brightness(92%);
}

tr:nth-child(odd) {
    background: #f0f0f0;
}

tr:nth-child(even) {
    background: white;
}

th, td {
    padding: var(--p-md);
}

tr {
    display: table-row;
}

tr[class='hidden']{
    display: none;
}

#toggleListBtn {
    margin: auto;
    padding: var(--p-sm) var(--p-lg);
    display: block;
    border: none;
    margin-top: 8px;
}

@media (min-width: 600px) {
    section {
        width: 80%;
        margin: auto;
    }

    table {
        border-radius: 16px;
    }
}

ul.bests {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .seasonal {
    margin-left: 30px;
  }
